header {
  position: sticky;
  top: 0;
  left: 0;
  color: white;
  text-align: center;
  font-style: italic;
  padding: 5px 30px;
  width: 300px;
}

body {
  padding: 0;
  margin: 0;
  display: grid;
  height: 100%;
  width: 100%;
  overflow: hidden;

  font-family: tenby-five, sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* css for the background div */
#myBackground {
  position: fixed;
  z-index: -100;
}

h1 {
  font-size: 35px;
  font-weight: 600;
}

h2 {
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 18px;
  font-weight: 500;
}

hr {
  border: none;
}

table {
  position: absolute;
  width: auto;
  margin: auto;
  padding: 100px 200px;
}

.intro {
}

.header {
  position: fixed;
  z-index: 0;
  padding-top: 30px;
  width: 95%;
  filter: drop-shadow(-10px -10px 10px rgba(0, 0, 0, 0.25));
}

/* css links for source of image/links if needed */
.img-link {
  color: #000000;
  text-decoration: none;
}
.img-link:hover {
  font-weight: bold;
}

.quote-closed {
  display: flex;
  position: absolute;
  z-index: 1;
  align-items: center;
  text-align: center;
  font-size: 30px;
  overflow: hidden;
  /* transition: all 0.5s ease; */
}

.quote-opened {
  display: none;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  text-align: center;
  overflow: visible;

  display: block;
  position: absolute;
  text-align: justify;
  align-items: center;
}
/* img.quote-opened {
  width: 60%;
} */

h2.quotes {
  font-size: 10px;
}

img.quotes {
  display: block;
  position: fixed;
  z-index: -10;
  width: inherit;
  margin: auto;
  filter: drop-shadow(-10px -10px 10px rgba(0, 0, 0, 0.25));
  transition: 0.5s all ease;
  transform: scale(0.65);
  animation: entry 1s linear 1;
}

img.quotes:hover {
  cursor: pointer;
  transform: scale(1);
  transition: 0.5s all ease;
}

/* div.quote-closed:hover + div.quote-opened {
  display: block;
  position: absolute;
  text-align: justify;
  align-items: center;
}

div.quote-opened:hover {
  display: block;
  position: absolute;
  text-align: justify;
  align-items: center;
} */

.text-header {
  color: black;
}

.text-body {
  color: black;
  padding-top: 20px;
  padding-bottom: 0px;
}

/* Start quote 1 */
#quote01-closed {
  top: 10%;
  left: 4%;
  width: 15%;

  /* animation: pop-up 2s ease-in-out;
  animation-delay: 1s; */
}
img#img-quote01 {
  top: 0vh;
  left: 1%;
  width: 20%;
}
#quote01-txt {
  margin: 50px 50px 0px 50px;
}
#quote01-opened {
  width: 60%;
}
#text01 {
  margin-top: 21vh;
  margin-bottom: 75vh;
  height: 60vh;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  overflow: auto;
  width: 50%;
}
/* End quote 1 */

/* Start quote 2 */
#quote02-closed {
  top: 41%;
  left: 26%;
  width: 18%;

  /* animation: pop-up 2s ease-in-out;
  animation-delay: 2.5s; */
}
img#img-quote02 {
  top: 30vh;
  left: 30%;
  width: 20%;
}
#quote02-txt {
  margin-left: 170px;
  margin-right: auto;
  width: 45%;
}
#quote02-opened {
  width: 60%;
}
#text02 {
  margin-top: 25vh;
  margin-bottom: 75vh;
  height: 50vh;
  margin-left: 35%;
  padding: 5px;
  overflow: auto;
  width: 42%;
}
/* End quote 2 */

/* Start quote 3 */
#quote03-closed {
  top: 29%;
  left: 63%;
  width: 15%;

  /* animation: pop-up 2s ease-in-out;
  animation-delay: 5s; */
}
img#img-quote03 {
  top: 15vh;
  left: 60%;
  width: 20%;
}
#quote03-txt {
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}
#quote03-opened {
  width: 60%;
}
#text03 {
  margin-top: 20vh;
  margin-bottom: 75vh;
  height: 60vh;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  overflow: auto;
  width: 40%;
}
/* End quote 3 */

/* Start quote 4 */
#quote04-closed {
  top: 66%;
  left: 7%;
  width: 15%;

  /* animation: pop-up 2s ease-in-out;
  animation-delay: 4s; */
}
img#img-quote04 {
  top: 55vh;
  left: 2%;
  width: 20%;
}
#quote04-txt {
  margin: 0px 140px 0px 10px;
}
#quote04-opened {
  width: 60%;
}
#text04 {
  margin-top: 21vh;
  margin-bottom: 75vh;
  height: 60vh;
  margin-left: 100px;
  margin-right: auto;
  padding: 5px;
  overflow: auto;
  width: 50%;
}
/* End quote 4 */

/* Start quote 5 */
#quote05-closed {
  top: 75%;
  left: 30%;
  width: 20%;

  /* animation: pop-up 2s ease-in-out;
  animation-delay: 6s; */
}
img#img-quote05 {
  top: 72vh;
  left: 29%;
  width: 20%;
}
#quote05-txt {
  margin: 60px 100px 0px 50px;
}
#quote05-opened {
  width: 80%;
}
#text05 {
  margin-top: 21vh;
  margin-bottom: 75vh;
  height: 60vh;
  margin-left: 70px;
  margin-right: auto;
  padding: 5px;
  overflow: auto;
  width: 35%;
}
/* End quote 5 */

/* Start quote 6 */
#quote06-closed {
  top: 75%;
  left: 75%;
  width: 20%;

  /* animation: pop-up 2s ease-in-out;
  animation-delay: 2s; */
}
img#img-quote06 {
  top: 63vh;
  left: 74%;
  width: 20%;
}
#quote06-txt {
  margin: 50px 100px 0px 70px;
}
#quote06-opened {
  width: 60%;
}
#text06 {
  margin-top: 21vh;
  margin-bottom: 75vh;
  height: 60vh;
  margin-left: 300px;
  margin-right: auto;
  padding: 5px;
  overflow: auto;
  width: 55%;
}
/* End quote 6 */

@keyframes pop-up {
  0% {
    transform: scale(0%);
    opacity: 0;
  }
  100% {
    transform: scale(100%);
    opacity: 1;
  }
}

/* smaller screens */
@media screen and (max-width: 1500px) {
  .quote-closed {
    font-size: 20px;
    width: 200px;
    height: 200px;
  }
}

/* tablets */
@media screen and (max-width: 1250px) {
  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }

  p {
    font-size: 12px;
  }

  .quote-closed {
    font-size: 20px;
    width: 150px;
    height: 150px;
  }
}

/* phones */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }

  p {
    font-size: 12px;
  }

  .quote-closed {
    font-size: 20px;
    width: 150px;
    height: 150px;
  }
}
