header {
  position: sticky;
  top: 0;
  left: 0;
  color: white;
  text-align: center;
  font-style: italic;
  padding: 5px 30px;
  width: 300px;
}

/* Mathilde's css after adding the Background */
body {
  padding: 0;
  margin: 0;
  display: grid;
  height: 100%;
  width: 100%;

  font-family: tenby-five,sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* css for the background div */
#myBackground {
  position: fixed;
  z-index: -100;
}

h1 {
  font-size: 35px;
  font-weight: 600;
}

h2 {
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 18px;
  font-weight: 500;
}

hr {
  border: none;
}

table {
  position: absolute;
  width: auto;
  margin: auto;
  padding: 100px 200px;
}

.intro {
}

.header {
  position: fixed;
  z-index: 100;
  padding-top: 30px;
  width: 95%;
  filter: drop-shadow(-10px -10px 10px rgba(0, 0, 0, 0.25));
}

.quote-closed {
  display: flex;
  position: absolute;
  z-index: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
  overflow: hidden;
  transition: all .5s ease;
}

.quote-opened {
  display: none;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  margin: auto;
  width: 80%;
  text-align: center;
  overflow: visible;
}

img.quotes {
  display: block;
  position: fixed;
  z-index: -10;
  width:inherit;
  margin: auto;
  filter: drop-shadow(-10px -10px 10px rgba(0, 0, 0, 0.25));
}

div.quote-closed:hover{
  display: none;
}

div.quote-closed:hover + div.quote-opened {
  display: block;
  position: absolute;
  justify-content: center;
  align-items: center;
}

div.quote-opened:hover {
  display: block;
  position: absolute;
  justify-content: center;
  align-items: center;
}

.text-header {
  color: black;
}

.text-body {
  color: black;
  padding-top: 20px;
  padding-bottom: 0px;
}

#quote01-closed {
  top: 35%;
  left: 10%;
}
img.quotes#quote01-closed {
  width: 15%;
}

#quote01-opened {
}
img.quotes#quote01-opened {
  display: block;
  position: absolute;
  width: 80%;
}

#quote02-closed {
  top: 45%;
  left: 30%;
  width: 30%;
}

#quote02-opened {
}

#quote03-closed {
  top: 15%;
  left: 65%;
  width: 25%;
}

#quote03-opened {
}

#quote04-closed {
  top: 65%;
  left: 0%;
  width: 25%;
}

#quote04-opened {
}

#quote05-closed {
  top: 75%;
  left: 25%;
  width: 30%;
}

#quote05-opened {
}

#quote06-closed {
  top: 55%;
  left: 55%;
  width: 40%;
}

#quote06-opened {

}

/* smaller screens */
@media screen and (max-width: 1500px) {
  .quote-closed {
    font-size: 20px;
    width: 200px;
    height: 200px;
  }
}

/* tablets */
@media screen and (max-width: 1250px) {
  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }

  p {
    font-size: 12px;
  }

  .quote-closed {
    font-size: 20px;
    width: 150px;
    height: 150px;
  }
}

/* phones */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }

  p {
    font-size: 12px;
  }

  .quote-closed {
    font-size: 20px;
    width: 150px;
    height: 150px;
  }
}
