header {
  position: sticky;
  top: 0;
  left: 0;
  color: white;
  text-align: center;
  font-style: italic;
  padding: 5px 30px;
  width: 300px;
}

body {
  padding: 0;
  margin: 0;
  display: grid;
  height: 100%;
  width: 100%;

  font-family: tenby-five,sans-serif;
  font-weight: 700;
  font-style: normal;
}

/* css for the background div */
#myBackground {
  position: fixed;
  z-index: -100;
}

h1 {
  font-size: 35px;
  font-weight: 600;
}

h2 {
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 18px;
  font-weight: 500;
}

hr {
  border: none;
}

table {
  position: absolute;
  width: auto;
  margin: auto;
  padding: 100px 200px;
}

.intro {
}

.header {
  position: fixed;
  z-index: 100;
  padding-top: 30px;
  width: 95%;
  filter: drop-shadow(-10px -10px 10px rgba(0, 0, 0, 0.25));
}

.quote-closed {
  display: flex;
  position: absolute;
  z-index: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
  overflow: hidden;
  transition: all .5s ease;
}

.quote-opened {
  display: none;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  margin: auto;
  width: 80%;
  text-align: center;
  overflow: visible;
}

img.quotes {
  display: block;
  position: fixed;
  z-index: -10;
  width:inherit;
  margin: auto;
  filter: drop-shadow(-10px -10px 10px rgba(0, 0, 0, 0.25));
}

div.quote-closed:hover{
  display: none;
}

div.quote-closed:hover + div.quote-opened {
  display: block;
  position: absolute;
  justify-content: center;
  align-items: center;
}

div.quote-opened:hover {
  display: block;
  position: absolute;
  justify-content: center;
  align-items: center;
}

.text-header {
  color: black;
}

.text-body {
  color: black;
  padding-top: 20px;
  padding-bottom: 0px;
}

div#quote01-closed {
  top: 35%;
  left: 10%;
  width: 20%;

  /* animation: pop-up 2s ease-in-out;
  animation-delay: 1s; */
}

div#quote01-opened {
}

div#quote02-closed {
  top: 45%;
  left: 35%;
  width: 30%;

  /* animation: pop-up 2s ease-in-out;
  animation-delay: 2.5s; */
}

div#quote02-opened {
}

div#quote03-closed {
  top: 20%;
  left: 70%;
  width: 25%;

  /* animation: pop-up 2s ease-in-out;
  animation-delay: 5s; */
}

div#quote03-opened {
}

div#quote04-closed {
  top: 65%;
  left: 5%;
  width: 25%;

  /* animation: pop-up 2s ease-in-out;
  animation-delay: 4s; */
}

div#quote04-opened {
}

div#quote05-closed {
  top: 75%;
  left: 30%;
  width: 30%;

  /* animation: pop-up 2s ease-in-out;
  animation-delay: 6s; */
}

div#quote05-opened {
}

div#quote06-closed {
  top: 65%;
  left: 60%;
  width: 35%;

  /* animation: pop-up 2s ease-in-out;
  animation-delay: 2s; */
}

div#quote06-opened {

}

@keyframes pop-up {
  0% {
    transform: scale(0%);
    opacity: 0;
  }
  100% {
    transform: scale(100%);
    opacity: 1;
  }
}

/* smaller screens */
@media screen and (max-width: 1500px) {
  .quote-closed {
    font-size: 20px;
    width: 200px;
    height: 200px;
  }
}

/* tablets */
@media screen and (max-width: 1250px) {
  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }

  p {
    font-size: 12px;
  }

  .quote-closed {
    font-size: 20px;
    width: 150px;
    height: 150px;
  }
}

/* phones */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }

  p {
    font-size: 12px;
  }

  .quote-closed {
    font-size: 20px;
    width: 150px;
    height: 150px;
  }
}
