
header {
  position: sticky;
  top: 0;
  left: 0;
  background-color: rgba(255, 0, 0, 0.75);
  color: white;
  text-align: center;
  font-family: courier;
  font-style: italic;
  padding: 5px 30px;
  width: 300px;
}

body {
  background-image: url("images/background-image.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: repeat-y;
  height: 100%;
  width: 100%;
  margin: 0px;
  overflow: hidden;
}

h1 {
  font-family: courier;
  font-size: 35px;
  font-weight: 600;
}

h2 {
  font-family: courier;
  font-size: 40px;
  font-style: italic;
  font-weight: bolder;
}

h2.bubble-opened {
  font-family: courier;
  display: inline-block;
  position: relative;
  padding-top: 125px;
  padding-bottom: 50px;
  width: 100%;
  height: auto;
  overflow: visible;
}

h3 {
  font-family: courier;
  font-size: 18px;
}

p {
  font-size: 18px;
  font-weight: 500;
}

hr {
  border: none;
}

.blue {
  color: blue;
  font-size: 20px;
}
.black {
  color: black;
}

table {
  width: auto;
  margin: auto;
  padding: 100px;
}

button{
  border: none;
  font-family: courier;
  text-align: center;
  text-decoration: none;
}

a {
  text-decoration: none;
  font-family: courier;
  font-weight: 600;
}

@font-face {
   font-family: yoster;
   src: url("fonts/yoster.ttf");
}

.intro {
  width: 45%;
  margin: 25px auto;
  padding: 50px;
  text-align: center;
  font-family: courier;
}

.bubbles {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
  overflow: hidden;
}

.bubble-closed {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: courier;
  font-size: 30px;
  width: 300px;
  height: 300px;
  margin: auto;
  padding-bottom: 0px;
}

.bubble-opened {
  display: none;
  position: absolute;
  width: 90%;
  height: 90%;
  top: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  font-family: courier;
  overflow: scroll;
}

.bubble-closed:hover + .bubble-opened {
  display: block;
  position: flex;
  justify-content: center;
  align-items: center;
}

.bubble-opened:hover {
  display: block;
  position: flex;
  justify-content: center;
  align-items: center;
}

input {
  border: none;
  padding: 5px;
  margin: 10px;
  text-align: center;
  font-family: courier;
}




#intro {
  background-color: white;
  width: 30%;
}

#blog-closed {
  background-color: rgb(224, 255, 255);
  color: rgb(0, 117, 113)
}

#blog {
  background-color: rgba(224, 255, 255, 0.95);
  overflow-x: hidden;
}

.blogheader {
  color: rgb(0, 97, 94);
}

.blogentry {
  color: rgb(0, 97, 94);
  padding-top: 20px;
  padding-bottom: 0px;
}

.textsource {
  color: rgb(0, 84, 82);
}

.source {
  cursor: pointer;
  background-color: rgba(0, 84, 82, 0.15);
  font-size: 18px;
  font-weight: 600;
  padding: 10px 30px;
  transition-duration: 0.4s;
}

.source:hover {
  background-color: rgba(0, 84, 82, 0.25);
}

#classwork-closed {
  background-color: rgb(72, 209, 204);
  color: rgb(31, 94, 94)
}

#classwork {
  background-color: rgba(72, 209, 204, 0.95);
    overflow-x: hidden;
}

.classworkheader {
  color: rgb(31, 94, 94);
}

.classworkentry {
  color: rgb(31, 94, 94);
  padding-top: 20px;
  padding-bottom: 0px;
}

.funtext {
  background: linear-gradient(45deg, #f3ec78, #af4261);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rainbowbutton {
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  font-size: 12px;
  padding: 10px 30px;
}

div#animation {
  background-size: 50px 50px;
  width: 50px;
  height: 50px;
  position: relative;
  margin: auto;
  padding: 0px;

  /* initiate animation */
  animation-name: theSquare;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
}
/* animation instructions  from to or % */
@keyframes theSquare {
  0% {left:-100px; background-color:rgba(251,81,63);}
  25% {left:0px; background-color:rgb(176,199,94);}
  50% {left:100px; background-color:rgb(10,255,21);}
  75% {left:0px; background-color:rgb(119,136,209);}
  100% {left:-100px; background-color:rgb(164,70,252);}
}

#agedifference {
  font-size: 15px;
  font-family: courier;
  font-weight: 600;
  margin: 20px;
}

input[value=result] {
  width: 25px;
  background-color: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin: auto;
}

#myart-closed {
  background-color: rgb(143, 188, 139);
  color: rgb(1, 66, 1);
}

#myart {
  background-color: rgba(143, 188, 139, 0.95);
  color: rgb(1, 66, 1);
  overflow-x: hidden;
}

.row-art {
  width: 98%;
  padding-top: 100px;
  padding-bottom: 100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.column-art {
  display: flex;
  justify-content: center;
  width: auto;
  padding: 5px;
}

.column-art img {
  opacity: 0.8;
  cursor: pointer;
}

.column-art img:hover {
  opacity: 1;
}

.row-art:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  position: relative;
  display: none;
  width: 100%;
}

.container img {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.closebtn {
  position: absolute;
  top: 50px;
  right: 100px;
  color: black;
  font-size: 50px;
  cursor: pointer;
}

#imgtext {
  position: relative;
  text-align: center;
  color: black;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  padding-top: 25px;
  padding-bottom: 100px;
}

#findme-closed {
  background-color: rgb(218, 165, 32);
  color: rgb(107, 80, 12);
}

#findme {
  background-color: rgba(218, 165, 32, 0.95);
  color: rgb(107, 80, 12);
  overflow: hidden;
}

.button-socials {
  color: rgb(107, 80, 12);
}
.button-socials:hover {
  color: black;
}

.row-findme {
  padding-top: 100px;
}
.column-findme {
  float: left;
  width: 20%;
  margin: auto;
}

#commissions-closed {
  background-color: rgb(221, 160, 221);
  color: rgb(99, 59, 99);
}

#commissions {
  background-color: rgba(221, 160, 221, 0.95);
  color: rgb(99, 59, 99);
  overflow: hidden;
}

form {
  background-color: rgba(237, 187, 237, 0.95);
  width: 75%;
  margin: auto;
  padding: 50px;
}

ul {
  display: block;
  position: relative;
  width: 20%;
  margin: auto;
  text-align: center;
  padding-top: 10px;
}

li {
  display: block;
  text-decoration: none;
  text-align: left;
  line-height: 1;
  padding: -5px;
}

input {
  margin: 5px;
}

textarea {
  font-size: 100%;
  color: rgb(99, 59, 99);
  width: 50%;
  line-height: 1.15;
  margin: 0;
  overflow: auto;
}
