
/* css for the "Explore Post-Internet Art" object */
/* css for pages with explanation on the quotes */
.header {
  display: flex;
  position: fixed;
  z-index: 100; /* on top of everything else */
  top: 15%;
  width: 95%; /* how big it is */
  filter: drop-shadow(-10px -10px 10px rgba(0, 0, 0, 0.25)); /* Create a shadow under it */
}
/* Make the header get slightly bigger when hovered over */
.header:hover {
  transition: 0.5s all ease; /* make a smooth transition */
  transform: scale(0.98); /* the scale of the header whitout hovering over it */
  animation: entry 1s linear 1;
}

#header-intro {
  top: 5%;
  left: 5%;
  width 95%;
  margin:auto;
}

#header-page {
  top: 5%;
  width 80%;
  margin:auto;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden; /* no scrolling */

  font-family: tenby-five, sans-serif; /* font used */
  font-weight: 700;
  font-style: normal;
}

/* css for the background div */
#myBackground {
  position: fixed; /* doesn't move around */
  z-index: -100; /* put it behind everyhting else */
}

/* css for the headings and paragraphs of the site */
h1 {
  font-size: 35px;
  font-weight: 600;
}
h2 {
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
}
h3 {
  font-size: 18px;
}
p {
  font-size: 18px;
  font-weight: 500;
}
a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
a:hover {
  cursor: pointer; /* change cursor */
}
hr {
  border: none;
}

.intro {
  display: block;
  width: 60%;
  margin-top: 40vh;
  margin-bottom: 75vh;
  height: 55vh;
  /* padding-top: 20%; */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
  overflow: auto;
  /* overflow-x: visible; */
}

h1#intro-header {
  font-size: 50px;
  font-weight: 600;
  /* rainbow gradiant */
  background: radial-gradient(
    circle,
    rgba(251, 81, 63, 1) 0%,
    rgba(176, 199, 94, 1) 29%,
    rgba(10, 255, 21, 1) 52%,
    rgba(119, 136, 209, 1) 73%,
    rgba(164, 70, 252, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* drop shadow */
  filter: drop-shadow(-2px -2px 2px rgba(0, 0, 0, 1));
}

p#intro-text {
  font-size: 25px;
  font-weight: 600;
}

i#intro-quote {
  font-size: 20px;
  font-weight: 600;
}

h3#intro-subheader {
  font-size: 30px;
  font-weight: 600;
  /* rainbow gradiant */
  background: radial-gradient(
    circle,
    rgba(251, 81, 63, 1) 0%,
    rgba(176, 199, 94, 1) 29%,
    rgba(10, 255, 21, 1) 52%,
    rgba(119, 136, 209, 1) 73%,
    rgba(164, 70, 252, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* drop shadow */
  filter: drop-shadow(-2px -2px 2px rgba(0, 0, 0, 1));
}

/* css for the divs containing the bubbles and quotes on the index page (the small ones) */
.quote-closed {
  display: flex;
  position: fixed;
  z-index: 100;
  align-items: center;
  text-align: center;
  font-size: 30px;
  overflow: hidden;
  cursor: pointer;

  animation: entry 0.5s linear 1;
}
/* css for the quotes inside the small bubbles */
h2.img-quotes {
  font-size: 20px;

  transition: 0.5s ease-in-out;
}
/* css for the images of the small bubbles */
img.img-quotes {
  display: block;
  position: fixed;
  z-index: -1;
  width: inherit;
  margin: auto;
  filter: drop-shadow(-10px -10px 10px rgba(0, 0, 0, 0.25));

  transition: 0.5s ease-in-out;
}

/* css for the divs containing the bubbles and quotes on the quote pages (the big ones) */
.quote-opened {
  z-index: 1;
  font-size: 30px;
  overflow: hidden;
}
/* css for the images of the bubbles */
img.quotes {
  display: none;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
  padding-top: 5%;
  filter: drop-shadow(
    -10px -10px 10px rgba(0, 0, 0, 0.25)
  ); /* create a shadow */
  transform: scale(1);
  text-align: center;
  overflow: visible; /* can scroll down */

  display: block;
  position: fixed;
  align-items: center;
  text-align: center;
}

/* css for the quotes in the quote pages */
.text {
  width: 50%;
  height: 75%;
  margin: 25% auto;

  align-items: center;
  text-align: center;

  overflow-y: auto;
}
h2.text-header {
  font-size: 45px;
  font-style: italic;
}
p.text-header {
  font-family: 600;
}
/* css for the expalanation of the quotes in the quote pages */
.text-body {
  color: black;
}

/* Start quote 1 */
/* small quote */
#quote01-closed {
  top: 15vh;
  left: 6%;
  width: 15%;
  color:#d19900;
}
/* small quote's image */
img#img-quote01 {
  top: 0vh;
  left: 0%;
  width: 25%;
}

/* big quote */
#quote01-opened {
}
h2#text-header-01 {
  color:#d19900;
}
/* big quote's text */
#text01 {
}
/* End quote 1 */

/* Start quote 2 */
/* small quote */
#quote02-closed {
  top: 42vh;
  left: 35%;
  width: 22%;
  color: #002fff;
}
/* small quote's image */
img#img-quote02 {
  top: 30vh;
  left: 30%;
  width: 32%;
}

/* big quote */
#quote02-opened {
  height: 50%;
}

h2#text-header-02 {
  font-size: 30px;
  color: #002fff;
}
/* big quote's text */
#text02 {
  width: 30%;
  padding-left: 10%;
  height: 50vh;
}
/* End quote 2 */

/* Start quote 3 */
/* small quote */
#quote03-closed {
  top: 38vh;
  left: 70%;
  width: 20%;
}
/* small quote's image */
img#img-quote03 {
  top: 15vh;
  left: 60%;
  width: 40%;
}
/* small quote's text */
#quote03-txt {
  color: #a900d4;
}
/* big quote */
#quote03-opened {
}

h2#text-header-03 {
  font-size: 30px;
  color: #002fff;
}
/* big quote's text */
#text03 {
  width: 40%;
  height: 50vh;
}
/* End quote 3 */

/* Start quote 4 */
/* small quote */
#quote04-closed {
  top: 65%;
  left: 8%;
  width: 21%;
}
/* small quote's image */
img#img-quote04 {
  top: 50vh;
  left: 0%;
  width: 35%;
}
/* small quote's text */
#quote04-txt {
  margin: 0px 140px 0px 10px;
  color: #ad0093;
}
/* big quote */
#quote04-opened {
  width: 75%;
}
h2#text-header-04 {
  font-size: 45px;
  color: #ad0093;
}
/* big quote's text */
#text04 {
  height: 60vh;
}
/* End quote 4 */

/* Start quote 5 */
/* small quote */
#quote05-closed {
  top: 78%;
  left: 32%;
  width: 30%;
}
/* small quote's image */
img#img-quote05 {
  top: 68vh;
  left: 29%;
  width: 35%;
}
/* small quote's text */
#quote05-txt {
  margin: 60px 100px 0px 50px;
  color: #a30010;
}
/* big quote */
#quote05-opened {
}
h2#text-header-05 {
  font-size: 30px;
  color: #a30010;
}
/* big quote's text */
#text05 {
  height: 30vh;
}
/* End quote 5 */

/* Start quote 6 */
/* small quote */
#quote06-closed {
  top: 70vh;
  left: 76%;
  width: 20%;
}
/* small quote's image */
img#img-quote06 {
  top: 55vh;
  left: 65%;
  width: 35%;
}
/* small quote's text */
#quote06-txt {
  margin: 50px 100px 0px 70px;
  color: #007d0f;
}
/* big quote */
#quote06-opened {
}
h2#text-header-06 {
  font-size: 45px;
  color: #007d0f;
}
/* big quote's text */
#text06 {
  margin-top: 25%;
  height: 50vh;
}
/* End quote 6 */

/* smaller screens */
@media screen and (max-width: 1500px) {
  .quote-closed {
    font-size: 20px;
    width: 200px;
    height: 200px;
  }
}

/* tablets */
@media screen and (max-width: 1250px) {
  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }

  p {
    font-size: 12px;
  }

  .quote-closed {
    font-size: 20px;
    width: 150px;
    height: 150px;
  }
}

/* phones */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 25px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }

  p {
    font-size: 12px;
  }

  .quote-closed {
    font-size: 20px;
    width: 150px;
    height: 150px;
  }
}
